@import '@stackbit/components/styles/default.css';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'theme.css';

body {
    margin: 111px;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 0.5em !important;
    color: yellow;
}